<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>NLA Harvester</title>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
	<link rel="stylesheet" type="text/css" href="_css/style.css" media="screen" />
  <!--[if IE 7]> 
	<link rel="stylesheet" type="text/css" href="_css/style-ie7.css" media="screen" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="_css/print.css" media="print" />
  ## if I enable jquery on this page it takes forever to load. must be a problem with jquery.
  
</head>
<body class="con">
  <h1>NLA Harvester</h1>
  <h2><span>&gt;</span> <a href="ListCollections.htm">Collections</a> <span>&gt;</span> $model.contributor.collection.name <a class="logout" href="Logout.htm">Logout </a><br/><label class="user">$userUtil.userName</label></h2>
  <div id="container">
    <ul id="nav">
      <li><a href="ViewCollection.htm?collectionid=$!{model.contributor.collection.collectionid}">Collection Details</a></li>

      <li class="on"><a href="ListContributors.htm?collectionid=$!{model.contributor.collection.collectionid}">Contributors</a></li>
      <li><a href="ListHarvests.htm?collectionid=$!{model.contributor.collection.collectionid}">Harvests</a></li>
      <li><a href="ListReports.htm?collectionid=$!{model.contributor.collection.collectionid}">Reports</a></li>
    </ul>
    <ul id="subnav">
      <li><a href="ViewContributor.htm?contributorid=$!{model.contributor.contributorid}">Contributor Details</a></li>
      <li><a href="ViewNotes.htm?contributorid=$!{model.contributor.contributorid}">Notes</a></li>

      <li><a href="ViewConnectionSettings.htm?contributorid=$!{model.contributor.contributorid}">Connection Settings</a></li>
      #if($model.contributor.type == 1)<li><a href="ViewHarvestSchedule.htm?contributorid=$!{model.contributor.contributorid}">Schedule Production Harvest</a></li>#end
      <li><a href="EditManualHarvest.htm?contributorid=$!{model.contributor.contributorid}">Perform Test Harvest</a></li>
      <li><a href="ViewProcessingSteps.htm?contributorid=$!{model.contributor.contributorid}">Processing Steps</a></li>
      <li class="on"><a href="ListHarvestLogs.htm?contributorid=$!{model.contributor.contributorid}">Logs</a></li>
    </ul>

        #set ( $rejected = ${model.harvest.totalrecords} - ${model.harvest.recordscompleted})
        #if($model.harvest.totalrecords && $model.harvest.totalrecords > 0)
          #set ( $percentage = (${rejected} * 100) / ${model.harvest.totalrecords})
        #else
          #set ( $percentage = 0)
        #end
        
    <div id="content">
      <h3>$model.contributor.name</h3>
      <h3>Summary</h3>
      <dl class="reallybig">
        <dt>Status:</dt>
        <dd>$!model.harvest.status</dd>
        <dt>Environment:</dt>        
        <dd>#if($model.harvest.type == 0)Test#{else}Production#{end}</dd>
        
        <dt>Total records read:</dt>
        #set( $totalRecords = ${model.harvest.totalrecords} + ${model.harvest.deletionsread})
        <dd>$totalRecords</dd>
        
        <dt>
        <dt>Record updates read:</dt>
        <dd>
          $!model.harvest.totalrecords
          <ul class="buttons">
            <li><a href="ViewRecords.htm?harvestid=${model.harvest.harvestid}&amp;page=0">View Records</a></li>
            <li><a href="ViewRecords.htm?harvestid=${model.harvest.harvestid}&amp;page=0&amp;style=xml">View Records as XML</a></li>
            <li><a href="ViewAllRecords.htm?harvestid=${model.harvest.harvestid}">Download All Records</a></li>
	    #if($model.hasClusters)<li><a href="ViewClusters.htm?harvestid=${model.harvest.harvestid}">View Generated Cluster</a></li>#end
          </ul>
        </dd>

        <dt>Records updates rejected:</dt>
        <dd> $!rejected ($!{percentage}%)</dd>
        
        #if($model.errors.size() != 0)
          <dt>Record Errors:</dt>
          <dd>
            <table>
              <tr>
                <th>Stage</th>
                <th>Error</th>
                <th>Record Count</th>
              </tr>
              #foreach($error in $model.errors)
                <tr>
                  <td>$error.stepName</td>
                  <td>$error.error</td>
                  <td>$error.recordCount</td>
                </tr>
            #end
            
            </table>
          </dd>
        #end
        
        <dt>Record deletions read:</dt>
        <dd>$!model.harvest.deletionsread</dd>
        <dt>Record deletions performed:</dt>
        <dd>$!model.harvest.deletionsperformed</dd>

        
        #if($model.harvest.statuscode != $model.harvest.RUNNING())
          <dt>Duration:</dt>        
          #set( $seconds = $model.duration % 60)
          #set( $minutes = ($model.duration/60) % 60)
          #set( $hours = ($model.duration/60/60) % 12)
          <dd>$!hours hours $!minutes minutes $!seconds seconds</dd>
        #else
          <dt>Actions:</dt>
          <dd>
            <ul class="buttons">
            <li><a href="Interact.htm?action=stopharvest&amp;harvestid=${model.harvest.harvestid}&amp;contributorid=${model.contributor.contributorid}">Stop Harvest</a></li>       
            </ul>
          </dd>
        #end
      </dl>
      <h3>Harvest Details</h3>
      <dl>
        #foreach($prop in $model.props)
          <dt>$prop.key</dt>
          <dd>$prop.value</dd>
        #end
      </dl>
      <h3>Log</h3>
      <table summary="list of log messages" >
        <colgroup>
          <col />
          <col width="900px"/>
          <col />
        </colgroup>
        <tr>
          <th>UTC Time</th>
          <th>Message</th>
          <th>Attached Data</th>
        </tr>
        #foreach($log in $model.logs)
        <tr #if($log.errorlevel != $log.INFO())class="error"#{end} >
          <td>$model.dateformat.userformat($log.timestamp)</td>
          <td class="wordwrap" >$!log.description</td>
          <td>#if($log.hasdata == 1)
                <ul class="buttons">
                 <li><a href="ViewRecord.htm?harvestlogid=${log.harvestlogid}">View Data</a></li>
                </ul>
              #end
          </td>
        </tr>
        #end
      </table>
      <div class="clearfix"></div>

    </div>
  </div>
</body>
</html>
