<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>NLA Harvester</title>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
	<link rel="stylesheet" type="text/css" href="_css/style.css" media="screen" />
  <!--[if IE 7]> 
	<link rel="stylesheet" type="text/css" href="_css/style-ie7.css" media="screen" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="_css/print.css" media="print" />
  ## if I enable jquery on this page it takes forever to load. must be a problem with jquery.
  <script type="text/javascript" src="_js/jquery.js"></script>
  <script type="text/javascript">
    <!--
    
    var newestlogdate = "$!lastDateShown";
    var first_log_line_shown = "$!first_log_id";

    function getPlaceholders(p) {
      jQuery.getJSON("GetPlaceholders.json?harvestid=${harvest.harvestid}&last_record=" + first_log_line_shown,
        function(data){
          
          var last_added = $(p);
                      
          jQuery.each(data, function(i, item){
            var text = "Log messages " + item.start + " to " + (item.start+item.num) + " hidden." + 
					 			      (item.errors != 0 ? "<br /> " + item.errors + " errors within" : "");
            var row = '<tr class="placeholder" id="range' + item.start + '-' + (item.start+item.num) + '" >' + 
                      '<td colspan="3">' + text + '</td>' + 
                      '</tr>';
            
            var rowDom = jQuery(row);
            rowDom.hide();
            
            last_added.after(rowDom);
            $(rowDom).fadeIn("slow");
            last_added = $(rowDom);
          });  
          
          $(p).hide();        
        });
    }

    function replacePlaceholder(p) {      
      var range = $(p).attr('id').substring(5)
      
      jQuery.getJSON("GetLogRange.json?harvestid=${harvest.harvestid}&range=" + escape(range),
        function(data){
          
          var last_added = $(p);
          
          jQuery.each(data.logs, function(i, item){
            rowDom = buildLogRow(item);
            
            last_added.after(rowDom);
            $(rowDom).fadeIn("slow");
            last_added = $(rowDom);
          });          
          
          $(p).hide();
        });
      
    }

    function buildLogRow(item) {
      if(item.errorlevel == $HarvestLogInfoConst) 
        row = "<tr>";
      else
        row = '<tr class="error">';
      row += "<td>" + item.timestamp + "</td>\n";
      row += "<td  class=\"wordwrap\">" + item.description + "</td>\n";
      row += "<td>";
      if(item.hasdata == 1) {
        row += '<ul class="buttons">'
             + '  <li><a href="ViewRecord.htm?harvestlogid=' + item.harvestlogid + '">View Data</a></li>'
             + '</ul>';
      }
      row += "</td></tr>";
      rowDom = jQuery(row);
      rowDom.hide();
      
      return rowDom;
    }

    function isScrollBottom() {
      var documentHeight = $(document).height();
      var scrollPosition = $(window).height() + $(window).scrollTop();
      return (documentHeight == scrollPosition);
    }
    
    function isScrollTop() {
      return ($(window).scrollTop() == 0);
    }

    function poll() {
      jQuery.getJSON("GetNewLogs.json?harvestid=${harvest.harvestid}&fromdate=" + escape(newestlogdate),
        function(data){
          var wasAtBottom = isScrollBottom();
          var wasAtTop = isScrollTop();
          
          var rejected = data.totalrecords - data.recordscompleted;
          var percentage = (data.totalrecords > 0) ? ((rejected * 100.0) / data.totalrecords) : 0;
          $("#status").text(data.status);
          $("#totalrecordsread").text(data.totalrecords + data.deletionsread);
          $("#totalrecords").text(data.totalrecords);
          $("#updatesrejected").text(rejected + " (" + percentage.toFixed(2) + "%)");
          $("#deletionsread").text(data.deletionsread);
          $("#deletionsperformed").text(data.deletionsperformed);
          $("#duration").text(data.duration);
          
          if(data.errors.length > 0) {
            $(".errortable").show();
          }
          
          $(".errorrow").remove();
          
          jQuery.each(data.errors, function(i, item){
            row='<tr class="errorrow">';
            row += "<td>" + item.stage + "</td>\n";
            row += "<td>" + item.error + "</td>\n";
            row += "<td>" + item.recordcount + "</td>\n";
            row += "</tr>";
            rowDom = jQuery(row);
            $('#errortable tr:last').after(rowDom);
          })
          
          jQuery.each(data.logs, function(i, item){
            rowDom = buildLogRow(item);
            $('#logtable tr:last').after(rowDom);
            $(rowDom).fadeIn("slow");
            newestlogdate = item.timestamp;
            
            //move the screen back to the bottom
            if(wasAtBottom && !wasAtTop) {
              $(window).scrollTop($(document).height());
            }
            
          });
          
            
          setTimeout(poll,100); 
          //poll();
        });

    }
    
    $(document).ready(function(){
      
      $('.placeholder').live("click", function() {
        replacePlaceholder(this);
      });
      
      $('.placeholder_show').click(function() {
        getPlaceholders(this);
      });
      
      if($logs_hidden > 0 && $logs_hidden < $max_log_batch_size) {
         getPlaceholders($('.placeholder_show'));
      }
      
       poll();
    });
      
    -->
  </script>      
</head>
<body class="con">
  <h1>NLA Harvester</h1>
  <h2><span>&gt;</span> <a href="ListCollections.htm">Collections</a> <span>&gt;</span> $contributor.collection.name <a class="logout" href="Logout.htm">Logout </a><br/><label class="user">$userUtil.userName</label></h2>
  <div id="container">
    <ul id="nav">
      <li><a href="ViewCollection.htm?collectionid=$!{contributor.collection.collectionid}">Collection Details</a></li>

      <li class="on"><a href="ListContributors.htm?collectionid=$!{contributor.collection.collectionid}">Contributors</a></li>
      <li><a href="ListHarvests.htm?collectionid=$!{contributor.collection.collectionid}">Harvests</a></li>
      <li><a href="ListReports.htm?collectionid=$!{contributor.collection.collectionid}">Reports</a></li>
    </ul>
    <ul id="subnav">
      <li><a href="ViewContributor.htm?contributorid=$!{contributor.contributorid}">Contributor Details</a></li>
      <li><a href="ViewNotes.htm?contributorid=$!{contributor.contributorid}">Notes</a></li>

      <li><a href="ViewConnectionSettings.htm?contributorid=$!{contributor.contributorid}">Connection Settings</a></li>
      #if($contributor.type == 1)<li><a href="ViewHarvestSchedule.htm?contributorid=$!{contributor.contributorid}">Schedule Production Harvest</a></li>#end
      <li><a href="EditManualHarvest.htm?contributorid=$!{contributor.contributorid}">Perform Test Harvest</a></li>
      <li><a href="ViewProcessingSteps.htm?contributorid=$!{contributor.contributorid}">Processing Steps</a></li>
      <li class="on"><a href="ListHarvestLogs.htm?contributorid=$!{contributor.contributorid}">Logs</a></li>
    </ul>

        #set ( $rejected = ${harvest.totalrecords} - ${harvest.recordscompleted})
        #if($harvest.totalrecords && $harvest.totalrecords > 0)
          #set ( $percentage = $number.formatPercentage(${rejected}, ${harvest.totalrecords}) )
        #else
          #set ( $percentage = "0.00" )
        #end
        
    <div id="content">
      <h3>$contributor.name</h3>
      <h3>Summary</h3>
      <dl class="reallybig">
        <dt>Status:</dt>
        <dd id="status">$!harvest.status</dd>
        <dt>Environment:</dt>        
        <dd>#if($harvest.type == 0)Test#{else}Production#{end}</dd>
        
        <dt>Total records read:</dt>
        #set( $totalRecords = ${harvest.totalrecords} + ${harvest.deletionsread})
        <dd id="totalrecordsread">$totalRecords</dd>
        
        <dt>
        <dt>Record updates read:</dt>
        <dd>
          <span id="totalrecords" style="font-size:1em; color: black">$!harvest.totalrecords</span>
          <ul class="buttons">
            <li><a href="ViewRecords.htm?harvestid=${harvest.harvestid}&amp;page=0">View Records</a></li>
            <li><a href="ViewRecords.htm?harvestid=${harvest.harvestid}&amp;page=0&amp;style=xml">View Records as XML</a></li>
            <li><a href="ViewAllRecords.htm?harvestid=${harvest.harvestid}">Download All Records</a></li>
	    #if($hasClusters)<li><a href="ViewClusters.htm?harvestid=${harvest.harvestid}">View Generated Cluster</a></li>#end
          </ul>
        </dd>

        <dt>Records updates rejected:</dt>
        <dd id="updatesrejected"> $!rejected ($!{percentage}%)</dd>
        
          <dt class="errortable" #if($errors.size() == 0)style="display:none" #end >Record Errors:</dt>
          <dd class="errortable" #if($errors.size() == 0)style="display:none" #end >
            <table id="errortable">
              <tr>
                <th>Stage</th>
                <th>Error</th>
                <th>Record Count</th>
              </tr>     
              #foreach($error in $errors)
                <tr class="errorrow">
                  <td>$error.stepName</td>
                  <td>$error.error</td>
                  <td>$error.recordCount</td>
                </tr>
              #end      
            </table>
          </dd>
        
        <dt>Record deletions read:</dt>
        <dd id="deletionsread">$!harvest.deletionsread</dd>
        <dt>Record deletions performed:</dt>
        <dd id="deletionsperformed">$!harvest.deletionsperformed</dd>

        <dt>Duration:</dt>   
        <dd id="duration">$!duration</dd>  
        #if($harvest.statuscode == $harvest.RUNNING())   
          <dt>Actions:</dt>
          <dd>
            <ul class="buttons">
            <li><a href="Interact.htm?action=stopharvest&amp;harvestid=${harvest.harvestid}&amp;contributorid=${contributor.contributorid}">Stop Harvest</a></li>       
            </ul>
          </dd>
        #end
      </dl>
      <h3>Harvest Details</h3>
      <dl>
        #foreach($prop in $props)
          <dt>$prop.key</dt>
          <dd>$prop.value</dd>
        #end
      </dl>
      <h3>Log</h3>
      <table id="logtable" summary="list of log messages" >
        <colgroup>
          <col />
          <col width="900px"/>
          <col />
        </colgroup>
        <tr>
          <th>UTC Time</th>
          <th>Message</th>
          <th>Attached Data</th>
        </tr>
        
        #if($logs_hidden > 0)
            <tr class="placeholder_show">
              <td colspan="3">
                Click To Show Past Log Messages<br />
                $logs_hidden Log Messages Hidden
                </td>
            </tr>
        #end

        #foreach($log in $logs)
          <tr #if($log.errorlevel != $log.INFO())class="error"#{end} >
            <td>$dateformat.userformat($log.timestamp)</td>
            <td  class="wordwrap">$!log.description</td>
            <td>#if($log.hasdata == 1)
                  <ul class="buttons">
                    <li><a href="ViewRecord.htm?harvestlogid=$log.harvestlogid">View Data</a></li>
                  </ul>
                #end
            </td>
          </tr>
        #end
      </table>
      <div class="clearfix"></div>

    </div>
  </div>
</body>
</html>
