<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>NLA Harvester</title>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <style type="text/css"> @import url("_css/style.css"); </style>
  <!--[if IE 7]> <style type="text/css"> @import url("_css/style-ie7.css"); </style> <![endif]-->
  <script type="text/javascript" src="_js/jquery.js"></script>
  <script type="text/javascript" src="_js/script.js"></script>
  <script type="text/javascript" src="_js/jquery.validate.js"></script>
  <script type="text/javascript">
  <!--
    $(document).ready(function(){
      jQuery.validator.addClassRules("regex", { remote: "AjaxValidation.htm?type=regex" } );
      jQuery.validator.addClassRules("xpath", { remote: "AjaxValidation.htm?type=xpath" } );
      
      $("#processingstepform").validate({
        errorPlacement: function(error, element) {
            if ( element.is(":radio") )
                error.insertAfter(element.parent().parent().parent());
            else
                error.insertAfter(element);
	}
      });
      
    });
    
    function changefield(element)
    {
      if(element.href.search(/field/) == -1 )
        element.href = element.href + '&field=' + element.name;
      else {
        positionofendnum = element.href.search(/field=/);
        element.href = element.href.substr(0, positionofendnum+6);
        element.href = element.href + element.name;
      }
    }
    
    //returns a reference to the opened window
    function popup(mylink, windowname)
    {
      if (! window.focus)return true;
      var href;
      if (typeof(mylink) == 'string')
         href=mylink;
      else
         href=mylink.href;
         
      window.open(href, windowname, 'width=800,height=400,scrollbars=yes');
      return false;
    }
  -->
  </script>
</head>
<body class="con">
  <h1>NLA Harvester</h1>
  <h2><span>&gt;</span> <a href="ListCollections.htm">Collections</a> <span>&gt;</span> $collectionname <a class="logout" href="Logout.htm">Logout </a><br/><label class="user">$userUtil.userName</label></h2>
  <div id="container">
    #if($colview)
    <ul id="nav">
      <li>Collection Details</li>
    </ul>
    <ul id="subnav">
      <li>Create/Edit Processing Profile</li>
    </ul>
    #else
    <ul id="nav">
      <li><a href="ViewCollection.htm?collectionid=$collectionid">Collection Details</a></li>

      <li class="on"><a href="ListContributors.htm?collectionid=$collectionid">Contributors</a></li>
      <li><a href="ListHarvests.htm?collectionid=$collectionid">Harvests</a></li>
      <li><a href="ListReports.htm?collectionid=$collectionid">Reports</a></li>
    </ul>
    <ul id="subnav">
      <li><a href="ViewContributor.htm?contributorid=$contributorid">Contributor Details</a></li>
      <li><a href="ViewNotes.htm?contributorid=$contributorid">Notes</a></li>

      <li><a href="ViewConnectionSettings.htm?contributorid=$contributorid">Connection Settings</a></li>
      #if($contributortype == 1)<li><a href="ViewHarvestSchedule.htm?contributorid=$contributorid">Schedule Production Harvest</a></li>#end
      <li><a href="EditManualHarvest.htm?contributorid=$contributorid">Perform Test Harvest</a></li>
      <li class="on"><a href="ViewProcessingSteps.htm?contributorid=$contributorid">Processing Steps</a></li>
      <li><a href="ListHarvestLogs.htm?contributorid=$contributorid">Logs</a></li>
    </ul>
    #end

    #macro(fieldmacro $param $name $value)
                #if($param.type == $param.READ_ONLY)
                  $!param.value
                  <input type="text" style="display:none"  name="$name" value="$!value" />
                #end
                #if($param.type == $param.TEXT)
                  <input name="$name" type="text" value="$!value"
                         #if($param.subtype == $param.REGEX)title="Regular expression is invalid"#end
                         #if($param.subtype == $param.XPATH)title="XPath expression is invalid"#end
                         class="#if($param.editibility == 1) required#{end}
                                #if($param.subtype == $param.REGEX) regex#{end}
                                #if($param.subtype == $param.XPATH) xpath#{end}
                                "/>
                        ###### #if($param.subtype == $param.REGEX)class="regex#if($param.editibility == 1) required#end"#else #if($param.editibility == 1)class="required"#end #end/>
                #end
                #if($param.type == $param.DROP_DOWN)
                  <select name="$name">
                    #foreach($option in $param.options)
                      <option  value="$!option.key" #if($value && $option.key == $value)selected="selected"#{end}>$!option.value</option>
                    #end
                  </select>
                #end
                #if($param.type == $param.RADIO)
			      <table class="">
				    <tr>
					    <th>&nbsp;</th>
					    <th>Description</th>
					    <!-- <th>File</th> -->
				    </tr>				    
                    #foreach($option in $param.options)
                    <tr>
                      <td><input type="radio" class="required" name="$name" value="$!option.key" #if($value && $option.key == $value)checked="checked"#{end} />
                      $!option.key </td>
                      <td>$!option.value</td>
                    </tr>
                    #end
                    </table>
                #end
                #if($param.type == $param.CHECK_BOX)
                  <input type="checkbox" name="$name" #if($value && $value == "on")checked="checked"#end />
                #end
    #end
    #macro(helpmacro $n)
          #if($n.subtype == $n.REGEX) <a href="Help.htm?type=regex" class="help" target="_blank" onClick="return popup(this, 'regex')">Help</a> #{end}
          #if($n.subtype == $n.XPATH) <a href="Help.htm?type=xpath" class="help" target="_blank" onClick="return popup(this, 'xpath')">Help</a> #{end}
          #if($n.subtype == $n.EAC_XPATH) <a href="Help.htm?type=eac_xpath" class="help" target="_blank" onClick="return popup(this, 'eac xpath')">Help</a> #{end}
    #end
    #macro(picker $n $name)
          #if($n.subtype == $n.XPATH) <a name="$!name" href="Help.htm?type=xpathpicker" class="help picker" target="_blank" onClick="changefield(this); return popup(this, 'xpath')">Pick</a> #{end}
    #end
    
    <div id="content">
      <h3>#if($colview)$collectionname#{else}$contributorname#end</h3>       
      
      <form method="post" action="$preserveProfileEditUrl" id="processingstepform" class="cloner" >
      <dl>
        ##show some readonly information about the step
        <dt>
                    <!--<input type="text" style="display:none"  name="action" value="preserveedit" />-->
                    $sessionStateHTML ##ouputs a bunch of hidden input statements to maintain the session information with
          Name:
        </dt><dd>$!step.name</dd>
        <dt>Description:</dt> <dd>$step.description</dd>
        <dt>Input:</dt> <dd>$step.inputtype</dd>
        <dt>Output:</dt> <dd>$step.outputtype</dd>
        <dt>Sequence: </dt>
        <dd><input type="text" name="newposition" value="$position" /></dd>
        #if($colview)
          
          <dt>Restriction Type</dt>
          <dd>
            <input name="restriction" type="radio" class="required" value="$None" #if($restriction == $None)checked="checked"#end />
              <img src="_img/pencil.png" title="None"/> None &nbsp;&nbsp;
            <input name="restriction" type="radio" class="required" value="$Locked" #if($restriction == $Locked)checked="checked"#end />
              <img src="_img/lock.png" title="Locked"/> Locked &nbsp;&nbsp;
            <input name="restriction" type="radio" class="required" value="$Mandatory" #if($restriction == $Mandatory)checked="checked"#end />
              <img src="_img/lock_edit.png" title="Mandatory"/>Mandatory &nbsp;&nbsp;
          </dd>
        #end
        <dt>Description of function: </dt>
        <dd><input type="text" name="description" value="$!description" /></dd>        
        <dt> <br /> </dt> <dd> <br /></dd>

          #foreach($param in $parameters)
            <dt title="$!param.description">${param.name}: #if($param.editibility == 1)<span class="requiredfield">*</span>#{end} #helpmacro($param) </dt>
            #if($param.type == $param.NESTED)
              <dd>
              <input type="text" style="display:none" name="biggestfield"
                 value="#if($param.nested.size() == 0)1#{else}$!param.nested.size()#{end}" />
              <table class="invisibletable">
                <tr>
                  #foreach($n in $param.nested)
                     <th class="invisibletable" title="$!n.description">
                          ${n.name} :#if($n.editibility == 1)<span class="requiredfield">*</span>#{end}
                          #helpmacro($n)
                     </th>
                   #end
                   <th class="invisibletable"></th>  ##for the remove button to go in
                </tr>
                #foreach($i in [1 .. ${param.numberofnested}])
                  <tr class="clone">                  
                    #foreach($n in $param.nested)
                      #set( $value = "${n.id}.${i}" )
                      <td class="invisibletable">#fieldmacro($n "${param.id}.${value}" $param.nestedvalues.get($value) ) #picker($n "${param.id}.${value}") </td>
                    #end
                    <td class="invisibletable"><ul class="buttons"><li><a href="#" class="delete">Remove</a></li></ul></td>
                  </tr>
                #end
              </table>
              </dd>
              <dd><p><ul class="buttons"><li><a href="#" onclick="document.getElementById('processingstepform').biggestfield.value++" class="add">Add Another</a></li></ul></p></dd>
              
            #else
              <dd>
              #fieldmacro($param $param.id $param.value)
              #if($param.description)<span>$param.description</span>#end
              </dd>
            #end

          #end

      </dl>
      <br />
      <ul class="buttons">
        #if($new)
          <li><a href="${goBackInStepWizardUrl}&amp;position=${position}" class="back">Change Step</a></li>
          <li><a href="${deleteProfileStepUrl}&amp;position=${position}" class="cancel">Cancel</a>
        #else
          <li><a href="$editProfileUrl" class="cancel">Cancel</a></li>
        #end
        <li><input type="submit" id="mainsubmit" value="Done" class="save" /></li>
      </ul>

      <p><span class="requiredfield">*</span> Compulsory Field</p>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>
</body>
</html>
