<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    #parse("style.vm")
</head>
<body>
    <p>The National Library of Australia harvester has found the following record errors while running a $type harvest from contributor
    $contributor.name into the $contributor.collection.name collection, on server $serverName.</p>
    
    #parse("harvestDetails.vm")
    
    <h3>Harvest Results</h3>
    #parse("counts.vm")
    
    #if($errorReport.size() > 0)<h3>Summary</h3>#end
    <table class="table" style="border: 1px solid; border-collapse: collapse;">
        <tr>
          <th style="border: 1px solid;">Stage</th>
          <th style="border: 1px solid;">Error</th>
          <th style="border: 1px solid;">Record Count</th>
        </tr>
        #foreach($error in $errorReport)
            <tr>
              <td style="border: 1px solid;">$error.stepName</td>
              <td style="border: 1px solid;">$error.error</td>
              <td style="border: 1px solid;">$error.recordCount</td>
            </tr>
        #end
    </table>
    
    #if($recordErrors.size() > 0)<h3>Record Errors</h3>#end
    <dl class="smallFont">
        #foreach($log in $recordErrors)
            <dt class="date">$formatter.formatDateTime($log.timestamp)</dt>
            #if($internal)
                <dd>$log.description</dd>
            #else
                <dd>$formatter.stripHtml($log.description)</dd>
            #end
        #end
    </dl>
    
    #if($internal)<p>See the <a href="$viewlogurl">logs</a> for more details </p>    #end
    
    <p>This is an automatically generated message. Please do not reply.</p>
</body>
</html>